body{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    height:100vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.box{
    background:#F9F7F8;
    border:1px solid #EFEFEF;
    width:100px;
    height:100px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.box-1{
    -webkit-transform: skew(30deg);
        -ms-transform: skew(30deg);
            transform: skew(30deg);
}
.box-2{
    -webkit-transform: scale(0.5,1);
        -ms-transform: scale(0.5,1);
            transform: scale(0.5,1);
}
.box-3{
    -webkit-transform: rotate(45deg) ;
        -ms-transform: rotate(45deg) ;
            transform: rotate(45deg) ;
}
.box-4{
    -webkit-transform: translate(10px,20px);
        -ms-transform: translate(10px,20px);
            transform: translate(10px,20px);
}
.box-5{
    -webkit-transform: skew(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
        -ms-transform: skew(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
            transform: skew(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
}